﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="ThousandPyramids._Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>1000 Pyramids</title>

</head>
<body  style="background-color: #cccccc;background-repeat:no-repeat;" >
    <form id="form1" runat="server">
    <div>
    <br />
        <h1 style="text-align:center">WORD UP</h1>
        <asp:TextBox ID="TextBox_guess" runat="server"></asp:TextBox>
        <asp:Button ID="Button_Check" runat="server" Text="Check.." OnClick="Button_Check_Click" />
        <asp:Button ID="Button_NextClue" runat="server" Text="Next Clue.." OnClick="Button_NextClue_Click" />
        <asp:Button ID="Button_nextWord" runat="server" Text="Next word.." OnClick="Button_NextWord" />
        
        <br />
        <br />
        
        <asp:label runat="server" ID="InteractionLabel" text=""></asp:label>


    </div>
    </form>
</body>
</html>
